.banner button {
  color: white;
}

.jumbotron {
  border-top: 5px solid #333;
  background-color: #c00;
}

.jumbotron h1,
h4 {
  color: white;
  font-family: "Ibarra Real Nova", serif;
}

.topHeading {
  text-decoration: none;
  color: #fff;
}

.topHeading:hover {
  text-decoration: none;
  color: #fff;
}

nav {
  background-color: #d6d6d6;
}

.nav-item:hover {
  background-color: #bbb;
}

.boxes {
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 3px 3px rgb(194, 194, 194);
  background-color: #d6d6d6;
}

textarea {
  border-radius: 3px;
}

.form-box {
  border: 1px solid black;
}

.results-div,
.attendance-div {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

.results-score-div {
  right: 0;
}

/* Note: there should be a way to accomplish the following lines for .assignment-select directly in the JSX code */
.assignment-select {
  width: 50%;
  display: inline-block;
}

.select-require {
  height: 0;
  opacity: 0;
  width: 0;
  position: absolute;
  /* left: 10px; */
}

@media only screen and (min-width: 768px) {
  .assignment-select {
    width: 25%;
  }

  .select-require {
    height: 0;
    opacity: 0;
    width: 0;
    position: absolute;
    /* right: 50px; */
    /* top: 10px; */
  }

  .login-btn {
    float: right;
  }
}

@media only screen and (min-width: 992px) {
  .home-text:first-child {
    border-right: 1px solid gray;
  }
}

@media only screen and (max-width: 991px) {
  .home-text:first-child {
    border-bottom: 1px solid gray;
  }

  .fa-ul:last-of-type {
    margin-left: 4px;
  }
}

.blackbox-container {
  background-color: rgb(75, 75, 75);
}

.blackbox {
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(255, 246, 246);
  border-radius: 3px;
  color: white;
}

.blackbox::placeholder {
  color: white;
}

.blackbox:focus {
  outline: none;
}

#blackboxSendBtn {
  background-color: black;
  color: white;
}

.blackbox-modal {
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(255, 246, 246);
  /* background-color: black; */
  color: white;
  /* border: 1px solid rgb(158, 158, 158); */
}

#blackboxCloseBtn {
  color: white;
}

.footer {
  background-color: #d6d6d6;
  /* position: absolute; */
  /* position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; */
}

/* .courseRadioBtn {
  display: inline;
} */
