old/
views/old-views
assets/client-app.js
assets/style.css
dev/
node_modules/
public/js/client-app.js
regex.js
user_data.json
.env
assets/client-app-old.js
assets/style-old.css
public/js/
sitemap.xml
attendance.db
debugging.txt
.HFS+ Private Directory Data?
public/build-old-2019-12-24-2/
public/build-old-2019-12-24/
public/build-old-2019-12-25/
roster101.txt
roster120.txt
public/build/
