server/dev/
server/node_modules/
server/regex.js
server/user_data.json
server/.env
server/sitemap.xml
server/attendance.db
server/roster*.txt
server/public/build*/
server/fcc-challenges.json
server/netIDs.txt
server/appt/credentials.json
server/appt/token.json
server/appt/acceptedAppts.txt
server/appt/debugging.txt
server/run.sh

# dependencies
client/node_modules
client/.pnp
client.pnp.js

# testing
client/coverage

# production
client/build

client/src/.vscode/
client/src/credentials.json
client/src/token.json

server/debugging.txt
