extends header
block content
    div#appointment(data-heading=JSON.stringify(courseHeading) data-givenName=JSON.stringify(givenName) data-availableSlots=JSON.stringify(availableSlots) data-selection=JSON.stringify(selection))
