extends header
block content
    //-var attributes = {courseHeading: courseHeading}
    //-var newCourseHeading= '!{courseHeading}'
    div#assignments(data-heading=JSON.stringify(courseHeading) data-givenName=JSON.stringify(givenName))
    //div#assignments
    

