extends layout
block content
  .container
    h2 Welcome, #{user.name.givenName}!
    #Attendance.site-section
      h3 Sorry, it appears that you aren't currently enrolled in any courses supported on this course.
      h3 If you believe this to be an error, please contact your instructor directly.
