extends layout
block content
  .container
    h2 Welcome, #{user.name.givenName}!
    #Attendance.site-section
      h3 Sorry, you don't have access to this page. To view your attendance record, click on the "Attendance" tab above.
