extends layout
block content
  .container
    h2 Welcome, anonymous student!!
    #Attendance.site-section
      h3 Sorry, it appears that you aren't currently enrolled in this course.
      h3 If you believe this to be an error, please contact your instructor directly.
