doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    meta(name="google-site-verification" content="EmVublkyhd77zczoecz4cwZn1czlLLBUUkLJ7ytCNvk")
  header
    .title-bar
      .title-div
        h1 <a href="/120">LING 120 – Computers and Language</a>
      .login-div
        button(id="loginBtn")
          if locals.user
            a(id="qsLogoutBtn" href="/logout").logout-btn.logOutInBtn Log Out
          else
            a(id="qsLoginBtn" href="/login").login-btn.logOutInBtn Log In
    .nav-bar
      a(href="/120") Overview
      if locals.user
        a(href="/120/assignments") Assignments
        a(href="/120/grades") Grades
        a(href="/120/attendance") Attendance
      a(href="/120/resources") Resources
      if locals.user
        a(href="/120/blackbox") Black Box
  body
    block content
