extends layout

block content
  .container
    if locals.user
      h2 Welcome, #{user.name.givenName}!
    else
      h2 Welcome, LING 120 student!
    #Resources.site-section
      h2 Resources
      p Here are a few links that you may find helpful while working on this assignment.
      a(href="https://regex101.com/", target="_blank") Regex101.com
      a(href="https://canvas.iastate.edu/courses/60461", target="_blank") Course Website
